{% extends 'base.html' %}

{% block content %}
{% if found %}
    <h1>Для компаний: {{ companies_string }}, при заданых параметрах максимального риска или минимальной прибыли.</h1>
    <h1>Оптимальная стратегия:</h1>
    {% for companie in companies_list %}
    <h2>{{companie.0}} - {{companie.1}}%</h2>
    {% endfor %}
    <h2>Риск - {{risk}}%</h2>
    <h2>Минимальная прибыль - {{profit}}</h2>
{% else %}
    <h1>Для заданных параметров оптимальную стратегию найти невозможно</h1>
{% endif %}
{% endblock content %}